@include mediaXl {
  h1 {
    font-size: 9rem;
  }
  h2 {
    font-size: 35px;
  }
  p#about-text {
    font-size: 35px;
  }
  .menu {
    .nav-link {
      font-size: 3rem;
      padding: 2rem;
      font-weight: 600px;
    }
    .portrait {
      width: 250px;
      height: 280px;
    }
  }

  form {
    margin-top: 8rem;

    .form-control {
      width: 60%;
      margin: 15px 0;
      border-bottom: 3px solid $secondary-color;
      padding: 20px;
      font-size: 30px;
    }
    .submit {
      padding: 20px;
      border-radius: 5px;
      font-size: 25px;
      letter-spacing: 3px;
    }
  }
  div.thanks-message > p {
    font-size: 40px;
  }
  i {
    transform: scale(1.5);
    padding: 0.8rem;
  }

  ::-webkit-input-placeholder {
    font-size: 24px;
  }
}
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/portraitSmall.jpg");
      width: 150px;
      height: 150px;
    }
  }
}

@include mediaSm {
  body#bg-about {
    position: relative;
  }

  main {
    .about-info {
      display: flex;
      justify-content: center;
      align-content: center;
    }

    &#home h1,
    &#about h1,
    &#contact h1 {
      margin-top: 10vh;
      font-size: 4rem;
    }

    .sm-heading {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
}
