@import "config";
@import "menu";
@import "contact";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $primary-color;
  color: set-text-color($primary-color);
  margin: 0;
  font-family: $font;
  line-height: 1.5;

  &#bg-img {
    background: $home-image;
    @include background;
  }
}

h1,
h2 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}
a {
  color: set-text-color($primary-color);
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.text-secondary {
  color: $secondary-color;
}
main {
  padding: 4rem;
  height: 100%;

  a {
    padding: 0.4rem;

    &:hover {
      color: $secondary-color;
      @include easeOut();
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
  p#about-text {
    font-size: 17px;
  }

  .grid-box {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    max-width: 450px;
    float: right;

    .diving {
      width: 150px;
      height: 150px;
      background: $diving-image;
      @include pictures;
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }

    .karting {
      width: 250px;
      height: 250px;
      background: $karting-image;
      @include pictures;
      grid-column: 2 / span 3;
      grid-row: 2 / span 2;
    }
  }
}

@import "mobile";
